body {
    color: rgb(96, 23, 98);
    background: rgba(0, 0, 0, 0.375);
    margin: 0px;
    font-family: "DM serif text", sans-serif;
    margin-bottom: 150px;
}

header {
    border-bottom: solid 2px rgb(42, 85, 228);
    padding: 26px;
    font-size: 45px;
    color: rgb(42, 228, 88);
}

.chamada {
    background: rgb(213, 156, 187);
    padding-bottom: 90px;
    padding-top: 90px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 44px;
}

p {
    font-size: 28px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid rgb(128, 0, 0);
}

.categoria h2 {
    color: rgb(113, 42, 228);
}